## **1. Diffrence Between Integer And Float**

## Integer

-  Integer is numbers without decimal piont

In [1]:
integer =5
integer_positive = 15
integer_nagetive =-10
print(integer)
print(integer_nagetive)
print(integer_positive)

5
-10
15

## Float

- Float is number with  decimal point

In [4]:
Float = 10.2
Float_positive =12.6
Float_nagetive = -15.0
print(Float)
print(Float_positive)
print(Float_nagetive)

10.2
12.6
-15.0

## **2. Declare String**

- A string  is a sequence of characters enclosed in single quotes (' ') or double quotes (" ").

In [6]:
Name = "Umair"
print(Name)

Umair

In [4]:
Str_1 ="I am student at "
Str_2 = "corvit mardan ."
Str_3 =Str_1+" " +Str_2
print(Str_3)

I am student at  corvit mardan .

In [8]:
# Upper Case
Str_3.upper()

'I AM STUDENT AT  CORVIT MARDAN .'

In [9]:
# Lower Case
Str_3.lower()

'i am student at  corvit mardan .'

In [11]:
# First Alphabet OF Sentance Is Capital
Str_3.capitalize()

'I am student at  corvit mardan .'

In [12]:
# First Alphabet OF Word Is Capital
Str_3.title()

'I Am Student At  Corvit Mardan .'

In [17]:
Str_3.replace("mardan","Peshawar")

'I am student at  corvit Peshawar .'

In [3]:
Laugh ="Ha " "" *3
print(Laugh)

Ha Ha Ha

## **3. List**

- List is a collection of data in squre brackets .
- It is muteable .

In [19]:
# Empty List

List = [  ]
print(List)

[]

In [5]:
List1 =["apple","banana","cherry","mango"]
print(List1)

['apple', 'banana', 'cherry', 'mango']

## Accessing

In [7]:
List1 =["apple","banana","cherry","mango"]
print(List1[0])     # output first element
print(List1[2])     # output third element
print(List1[1])     # output second element
print(List1[-1])    # output last element

apple
cherry
banana
mango

## Modifying List

In [10]:
# Changing List
Fruits =["apple","banana","cherry"]
Fruits[1] ="orange"     # output  banana change to orange 
print(Fruits)

['apple', 'orange', 'cherry']

In [ ]:
# Adding  ELEMENT IN LIST
numbers = [1,2,3]
numbers.append(4)      
print(numbers)

[1, 2, 3, 4]

In [1]:
# Adding element in your choice
numbers =[1,2,3,4]
numbers .insert(1,25)
print(numbers)

[1, 25, 2, 3, 4]

In [2]:
# jioned List
List_1 =[1,2,3]
List_2 =[4,5]
List_1.extend(List_2)
print(List_1)

[1, 2, 3, 4, 5]

## **4. Difference Between List And Tuple**

## **List**

- List is combination of data in squre brackets .
- It is mutable .

In [3]:
List = [ 1, 2.3, "Apple", True]
print(List)

[1, 2.3, 'Apple', True]

### Change in List

In [5]:
List =[ 1, 2.3, "Apple", True]
List.append(False)
print(List)

[1, 2.3, 'Apple', True, False]

## **Tuple**

- It is collection of data in Small brackets "( )" .
- It is immutable .

In [6]:
Tuple =(5, 60.81 , "Fawad ", False)
print(Tuple)

(5, 60.81, 'Fawad ', False)

In [7]:
Tuple.append("Ali")
print(Tuple)

AttributeError: 'tuple' object has no attribute 'append'

## **Dictionary**

- It is collection of all data type .
- we use dictionary in dictionary .

In [9]:
Ali_Data ={
    "Name"        :"Ali",
    "Age"         : 26,
    "CGPA"        :3.60,
    "CIT Student" :True
}
print(Ali_Data)

{'Name': 'Ali', 'Age': 26, 'CGPA': 3.6, 'CIT Student': True}

## **Accessing Element*

In [10]:
print(Ali_Data["Name"])
print(Ali_Data["CGPA"])

Ali
3.6

## **6. Type Casting**

In [4]:
# string change to integer
Num_str ="20"
Num_int =int(Num_str)
print(Num_int)
print(type(Num_int))

20
<class 'int'>

In [5]:
# Float change to integer
Num_Float =12.9
Num_int =int(Num_Float)
print(Num_int)
print(type(Num_int))

12
<class 'int'>

## **7. Convert a string to an integer and perform arithmetic operation .**

In [8]:
num1_str = "10"  
num2_str = "5"  
num1_int =int(num1_str)
num2_int =int(num2_str)
sum_result = num1_int +num2_int
subtract_result = num1_int -num2_int
multiply_result = num1_int * num2_int
divide_result = num1_int/num2_int
print(sum_result)
print(subtract_result)
print(multiply_result)
print(divide_result)

15
5
50
2.0

## **8. Concatinate string**

In [9]:
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)

Hello World

In [10]:
greeting = "Hello"
language = "Python"
full_message = greeting + ", Welcome to " + language + " Programming!"

print(full_message)

Hello, Welcome to Python Programming!

## **9.  Indexing in python list and stirng**

## *List*

In [11]:
fruits = ["Apple", "Banana", "Mango", "Orange"]
print(fruits[0])   
print(fruits[2])
print(fruits[-1])  
print(fruits[-3])

Apple
Mango
Orange
Banana

## *String*

In [12]:
name = "Python"
print(name[0])   
print(name[3])
print(name[-1])  
print(name[-4])

P
h
n
t

## **10.  Student Ages Dictionary**

In [13]:
student_ages = {
    "Ali": 20,
    "Sana": 22,
    "Ahmed": 19,
    "Fatima": 21,
    "Usman": 23
}
print("Sana", "Years")

Sana Years